<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
  </head>

  <body>
      <form action="/madlib"> 
          <input type="text" name="name"> 
          <label for="name">Name</input>

          <input type="text" name="color"> 
          <label for="color">Color</input>

          <input type="text" name="noun"> 
          <label for="noun">Noun</input>

          <input type="text" name="adjective"> 
          <label for="adjective">Adjective</input>

          <button type="submit"> Submit </button>
      </form>
    
  </body>

</html>