<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoodBye</title>
    {# <link rel="stylesheet" href="/css/styles.css" /> #}
  </head>

  <body>
      <h1> GoodBye You'll Be Missed </h1>
    
  </body>

</html>